* {
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1.5px solid rgb(228, 228, 228);
    font-family: Montserrat;

}

#logo {
    height: 27px;
    align-self: center;
}


#search {
    display: flex;
    flex-direction: row;
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 10px;
    width: 30vw;
}

#search img {
    height: 15px;
    margin-right: 10px;
    align-self: center;

}

#search input {
    border: 0px;
    background-color: rgb(228, 228, 228);
    width: 100%;
}

#menu {
    display: flex;
    flex-direction: row;
    width: 30vw;
    justify-content: flex-end;
    font-weight: 530;
}

#menu img {
    height: 30px;
}

#signup {
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(228, 228, 228);
    border-radius: 50px;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.116);
}

#signup:hover {
    background-color: #cc1f0c4d;
      box-shadow: 0px 0px 0px rgb(0, 0, 0);
}

#login {
    background-color: #cc1f0c;
    border-radius: 50px;
    color: white;
    padding: 10px;
    padding-left: 13px;
    padding-right: 13px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.116);
}
#login:hover {
    background-color: #cc1f0c81;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.116);
}

#menu * {
    align-self: center;
}

main {
    font-family: Montserrat;
}